* {box-sizing:border-box;}

body {background-color: #2F4F4F;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;}

#wrapper { background-image: linear-gradient (to bottom, #696969, #FFFFFF) ; 
	 	 background-repeat: no-repeat; 
		 background-color: #FFFFFF;}

header {background-color:#696969;
	color:#696969;
	background-position: none;
	background-repeat: repeat;
	line-height: 500%;
	text-indent: 1em;}

h1 {color: #FFFFFF;
font-family: Gerogia, "Times New Roman", serif;
text-align: center; }

nav {text-align: center;
	 font-weight: bold;
	 padding: 0;
	 font-size: 120%;}

nav u {list-style-type: none;
	   margin: 0;
	   font-size: 1.2em;}

nav a {text-decoration: none;}

nav a:link {color:#2F4F4F;}

nav a:visited {color: #B22222;}

nav a:hover {color: #778899;}

nav li {border-bottom: 1px solid #FFFFFF;}

main {padding: 1px 20px 20px 30px;
	  display: block;
	  background-color: #696969;
	  overflow: auto;}
	  
#homepage  {height: 300px;
		   background-image: url('Images/nature2.jpg');
		   background-size: 100% 100%;
		   background-repeat: no-repeat;}
		   
#shirts    {height: 300px;
		    background-image: url('Images/mountain1.jpg');
		    background-size: 100% 100%;
		    background-repeat: no-repeat;}
		    
#hoodies    {height: 300px;
		    background-image: url('Images/nature1.jpg');
		    background-size: 100% 100%;
		    background-repeat: no-repeat;}

#hats    {height: 300px;
		    background-image: url('Images/sunny.jpg');
		    background-size: 100% 100%;
		    background-repeat: no-repeat;}

#contact    {height: 300px;
		    background-image: url('Images/rocks.jpg');
		    background-size: 100% 100%;
		    background-repeat: no-repeat;}


h2 {color: #2F4F4F;
font-family: Gerogia, "Times New Roman", serif;
text-align: center;}

dt {color: #808080;}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::before {
  content: "Tee Shirts";
  text-align: center
  clear: both;
  display: table;
}

h1 {margin-bottom: 0;
	margin-top: 0;
	font-family: Gerogia, "Times New Roman", serif;
	letter-spacing: .25em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;}

h3 {font-family: Gerogia, "Times New Roman", serif;
color: #FFFFFF}




ul {list-style-image: url("Images/marker.gif");}

footer {font-size: 75%;
		font-style: italic;
		text-align: center;
		font-family: Gerogia, "Times New Roman", serif;
		padding: 2em;
		background-color: #2F4F4F;}

#contact {font-size; 90%}

@media (min-width: 600px) {
		nav ul {display: flex;
				flex-flow: row nowrap;
				justify-content: space-around;}
		nav li {border-bottom: none;}
		section {padding-left: 2em;
				padding-right: 2em;}
		.content main {display: grid;
						grid-template-rows: auto;
						grid-template-columns: 1fr 1fr 1fr;}
		h2 {grid-row: 1 / 2; grid-column: 1 / 5;}
		section {grid-row: 2 / 3; grid-column: auto;}
		#special {grid-row: auto; grid-column: 1 / 5;}
		footer {grid-row: auto; grid-column: 1 / 5:}

form {display: grid;
			  grid-gap: 1em; gap: 1em;
			  grid-template-columns: 6em 1fr;
			  grid-template-rows: auto;
			  	width: 60%;
			  text-align: center;}
			  	
		input [type= "submit"] {grid-column: 2 / 3;
								width: 9em;}
	}

@media (min-width: 1024px) {
		nav ul {display: flex;
				flex-flow: column;
				padding-top: 1em;}
		nav {text-align: left;
			padding-left: 1em;}
		#wrapper {margin: auto;
				  width: 80%;
				  border: 1px solid #000033;
				  box-shadow: 1px 1px #000033;
				  display: grid;
				  grid-template-columns: 180px auto;
				  grid-template-rows: auto;}
		header {grid-row: 1 / 2; grid-column: 1 / 3;}
		nav {grid-row: 2 / 5; grid-column: 1 / 2;}
		div {grid-row: 2 / 3; grid-column: 2 / 3;}
		main {grid-row: 3 / 4; grid-column: 2 / 3:} 			  
		footer {grid-row: 4 / 5; grid-column: 2 / 3:}		  
				
}


